[core]
@global r=ROOT://assets/
[resource_能量]
displayName:能量
[resource_温度]
displayName:温度
[resource_引擎着火]
displayName:引擎着火
[resource_油箱着火]
displayName:油箱着火
"""
[effect_子弹轨迹]
createWhenZoomedOut:false
xOffsetRelative:0
yOffsetRelative:0
xSpeedRelativeRandom:0.1
ySpeedRelativeRandom:0.1
image:ROOT:轨迹.png
life:40
fadeOut:true
attachedToUnit:false
scaleFrom:0.6
scaleTo:0.4
alpha:0.5
drawUnderUnits:true
"""






