[hiddenAction_设置选项]
setUnitMemory:"""
模组名字="联动模组"

"""
autoTriggerOnEvent:created
addGlobalTeamTags:联动模组
#显示部分
[action_显示模组]
isVisible:true
displayType:infoOnlyNoBox
text:%{memory.模组名字列表}








[core]
name:Core
onNewMapSpawn:mapCenter_asNeutral
isBuilder:true
stayNeutral:true
createNeutral:true
[core]
maxHp=100
mass=100
fogOfWarSightRange:0
canNotBeDamaged:true
price:0
radius:0
autoTriggerCooldownTime_allowDangerousHighCPU:true
autoTriggerCooldownTime:0
updateUnitMemoryRate:0

[movement]
movementType:LAND
moveSpeed:0
maxTurnSpeed:0
[graphics]
image:SHARED:blank.png
[attack]
canAttack:false
canAttackLandUnits:false
canAttackFlyingUnits:false
canAttackUnderwaterUnits:false




[core]
tags:[联动模组-$TXCZCSZ]
@memory 模组名字:string
@memory 模组列表:unit[]
@memory 模组名字列表:string
@memory 模组列表指针:number



#基础逻辑部分

#获取信息
[hiddenAction_获取其他模组信息]
autoTrigger:true
takeResources_searchOnly:true
takeResources_excludeUnitsWithoutTags:[联动模组-$TXCZCSZ]
takeResources_includeUnitsWithinRange:20
takeResources_triggerActionForEach:添加模组到数组
setUnitMemory:模组列表=null
takeResources_includeUnitsWithinRange_team:any

[hiddenAction_添加模组到数组]
requireConditional:if thisActionTarget != self.customTarget1
setUnitMemory:模组列表[memory.模组列表.size]=thisActionTarget
[hiddenAction_初始化]
autoTriggerOnEvent:created
setUnitMemory:模组列表指针=-1

[hiddenAction_遍历模组列表]
autoTrigger:if memory.模组列表指针!=memory.模组列表.size-1 
sendMessageTo:memory.模组列表[memory.模组列表指针]
sendMessageWithTags:信息同步
sendMessageWithData:名字=memory.模组名字
setUnitMemory:模组列表指针=select(memory.模组列表.size-1==memory.模组列表指针,0,memory.模组列表指针+1)
[hiddenAction_接收模组信息]
autoTriggerOnEvent:newMessage(withTag="信息同步")
#showMessageToAllPlayers:接收到
setUnitMemory:模组名字列表=memory.模组名字列表+eventData("名字",type="string")+","




#内置方法




